# Build Folder
build

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code
.vscode

# Cache
.cache

# External/tinyusb
src/external/tinyusb
compile_commands.json
src/.DS_Store
src/external/.DS_Store
src/external/CMSIS/.DS_Store
